*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
footer h5,
.nav-link {
    color: #FFFFFF !important;
}
.truck{
    width: 180px;
    height: 50px;
}
.loginbtn{
    width: 100px;
    height: 40px;
    background-color: #5D3713 !important;
    padding-bottom: 4px !important;
}
.title{
    color: cadetblue;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
    font-family: Tahoma, sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
}
.logo{
    height: 2.2rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}